body {
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-static-top {
    padding: 20px;
}

.navbar-collapse {
    text-align: center;
}

.navbar-nav {
    padding: 15px 0;
    font-weight: bold;
    font-size: 18px;
}

header ul li a {
    text-decoration: none;
    color: white;
}

header ul li a:hover {
    color: #3d7e77;
}

footer {
    padding-bottom: 20px;
}

footer .container h5 {
    font-weight: bolder;
    font-size: 15px;
}

footer .container:nth-child(1) {
    padding: 40px 0 40px 0;
}

footer .container .col-sm-3:nth-child(1) {
    text-align: center;
}

footer ul li a {
    text-decoration: none;
}

.carousel {
    margin-bottom: 30px;
}

.recommended .row {
    display: flex;
    flex-wrap: wrap;
}

.recommended .row .column {
    flex: 30%;
    padding: 20px;
}

@media screen and (max-width: 992px) {
    .recommended .row .column {
        flex: 50%;
    }
}

@media screen and (max-width: 768px) {

    footer {
        padding-bottom: 20px;
    }

    footer .container {
        text-align: center;

    }

    footer .container .row {
        text-align: center;
    }

    footer .container .col-sm-3:nth-child(1) {
        text-align: center;
    }

    h5 {
        padding-top: 20px;
    }


}

@media screen and (max-width: 600px) {
    .recommended .row {
        flex-direction: column;
    }
}
