body {
    padding-top: 100px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #777;
    border-color: #fff
}


footer {
    padding-bottom: 20px;

}

footer .container h5 {
    font-weight: bolder;
    font-size: 15px;
}

footer .container:nth-child(1) {
    padding-bottom: 40px;
}

footer .container .col-sm-3:nth-child(1) {
    text-align: center;
}

@media screen and (max-width: 765px) {

    footer {
        padding-bottom: 20px;
    }

    footer .container {
        text-align: center;

    }

    footer .container .container-Text-Align-Left {
        display: inline-block;
        text-align: left;
    }

    footer .container .col-sm-3:nth-child(1) {
        text-align: left;
    }

    h5 {
        padding-top: 20px;
    }
}
