@{
    ViewBag.Title = "FAQ | Alpha Mobile Store";
}

<div class="text-center"><h3>Frequently asked questions</h3></div>

<div class="mt-4 p-4 bg-secondary text-white rounded">
    <h2>Who are we</h2>
    <p>Alpha Mobile is an online mobile store that sells its new phones and services to the public</p>
</div>
<div class="mt-4 p-4 bg-secondary text-white rounded">
    <h2>Where do we work from</h2>
    <p>Our offices are located in Kumanovo, Macedonia (Street Oktomvriska Revolucija)</p>
</div>
<div class="mt-4 p-4 bg-secondary text-white rounded">
    <h2>Is there any warranty on our products</h2>
    <p>Yes. There is a 2 year warranty on every phone you purchase at our store</p>
</div>
<div class="mt-4 p-4 bg-secondary text-white rounded">
    <h2>What makes us better than the other stores</h2>
    <p>Free shipping, Lots of products, 2 years warranty and of course, a lot of happy customers</p>
</div>

<div class="text-center mt-3">Shop with us :)</div>