@{
    ViewBag.Title = "Alpha Mobile Store";
}

<div id="CarouselMain" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#CarouselMain" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#CarouselMain" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#CarouselMain" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000"> 
            <img src="~/Images/appleh600.jpg" class="rounded d-block w-100" alt="First">
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <img src="~/Images/ipadairh600.png" class="rounded d-block w-100" alt="Second">
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <img src="~/Images/samsunggalaxyw1528h600.jpg" class="d-block w-100" alt="Third">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#CarouselMain" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#CarouselMain" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>



<div class="recommended">
    <h2 class="text-center mb-5">Recommended products</h2>
    <div class="row text-center gap-3 mb-4">
        <div class="column shadow bg-white rounded">
            <div class="column-img">
                <a href="#">
                    <img src="~/Images/AppleIPhone13ProMax.jpg" style="width: 300px; height: 300px" />
                </a>
            </div>
            <div class="column-name">Apple Iphone 13 Pro Max</div>
            <div class="column-price">1199$</div>
        </div>
        <div class="column shadow bg-white rounded">
            <div class="column-img">
                <a href="#">
                    <img src="~/Images/SamsungGalaxyS22Ultra5G.jpg" style="width: 300px; height: 300px" />
                </a>
            </div>
            <div class="column-name">Samsung Galaxy S22 Ultra 5G</div>
            <div class="column-price">1049$</div>
        </div>
        <div class="column shadow bg-white rounded">
            <div class="column-img">
                <a href="#">
                    <img src="~/Images/GooglePixel6Pro.jpg" style="width: 300px; height: 300px" />
                </a>
            </div>
            <div class="column-name">Google Pixel 6 Pro</div>
            <div class="column-price">999$</div>
        </div>
    </div>
    <div class="row text-center gap-3 mb-4">
        <div class="column shadow bg-white rounded">
            <div class="column-img">
                <a href="#">
                    <img src="~/Images/AppleWatch7.jpg" style="width: 300px; height: 300px" />
                </a>
            </div>
            <div class="column-name">Apple Watch 7</div>
            <div class="column-price">449$</div>
        </div>
        <div class="column shadow bg-white rounded">
            <div class="column-img">
                <a href="#">
                    <img src="~/Images/SamsungGalaxyNote20Ulta5G.jpg" style="width: 300px; height: 300px" />
                </a>
            </div>
            <div class="column-name text-center">Samsung Galaxy Note 20 Ultra 5G</div>
            <div class="column-price">929$</div>
        </div>
        <div class="column shadow bg-white rounded">
            <div class="column-img">
                <a href="#">
                    <img src="~/Images/OnePlus10Pro.jpg" style="width: 300px; height: 300px" />
                </a>
            </div>
            <div class="column-name">OnePlus 10 Pro</div>
            <div class="column-price">899$</div>
        </div>
    </div>
    <div class="row text-center gap-3 mb-4">
        <div class="column shadow bg-white rounded">
            <div class="column-img">
                <a href="#">
                    <img src="~/Images/AppleIpad2022.jpg" style="width: 300px; height: 300px" />
                </a>
            </div>
            <div class="column-name">Apple iPad 2022</div>
            <div class="column-price">549$</div>
        </div>
        <div class="column shadow bg-white rounded">
            <div class="column-img">
                <a href="#">
                    <img src="~/Images/Xiaomi12Pro.jpg" style="width: 300px; height: 300px" />
                </a>
            </div>
            <div class="column-name">Xiaomi 12 Pro</div>
            <div class="column-price">949$</div>
        </div>
        <div class="column shadow bg-white rounded">
            <div class="column-img">
                <a href="#">
                    <img src="~/Images/AppleSE2022.jpg" style="width: 300px; height: 300px" />
                </a>
            </div>
            <div class="column-name">Apple SE 2022</div>
            <div class="column-price">499$</div>
        </div>
    </div>

</div>