@model IEnumerable<AlphaMobileShop.Models.Product>
@{
    ViewBag.Title = "Products";
}

<div>
    Filter/Sort etc..
</div>

<div class="products-panel">
    <div class="row gap-4 m-2 justify-content-center text-center">
        @foreach (var item in Model.OrderBy(id => Guid.NewGuid()))
        {
            <div class="col-lg-2 col-md-3 col-sm-5 shadow bg-white p-3">
                <div class="column-img">
                    <a href="#">
                        <img src="@item.Name" style="width: 125px; height: 125px" />
                    </a>
                </div>
                <div class="column-name fw-bold" style="font-size: 15px;">@item.Model</div>
                <div class="column-price fw-bold" style="font-size: 15px;">@item.Price $</div>
            </div>
        }
    </div>
</div>